{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "proseWrap": "always",
    "tabWidth": 2,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "spaceBeforeFunctionParen": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}